.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1000;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}
