.heroBanner {
  padding: 0 5%;
  background: linear-gradient(90deg, #3023ae, #c86dd7);
  min-height: 500px;
  margin: 0 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  margin: 15px 0;
}

.button {
  background-color: #212529;
  border: 1px solid #212529;
  color: white;
  border-radius: 25px;
  padding: 14px 28px;
  font-size: 1.2rem;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #424649;
  border-color: #424649;
}
