.sidebar {
  width: 250px;
  background-color: var(--secondary-color);
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--secondary-color);
}

.links {
  color: white;
  flex-grow: 1;
  overflow-y: auto;
}

.links a:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.submenu {
  padding-left: 20px;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}
