:root {
  --primary-color: #ffd400;
  --secondary-color: #212529;
  --hover-color: #424649;
  --gradient-start: #3023ae;
  --gradient-end: #c86dd7;
  --text-color: #10204d;
  --background-color: #ebf0ff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}