:root {
  --primary-color: #ffd400;
  --secondary-color: #212529;
  --hover-color: #424649;
  --gradient-start: #3023ae;
  --gradient-end: #c86dd7;
  --text-color: #10204d;
  --background-color: #ebf0ff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.card {
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
  cursor: default;
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}

.comment {
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}
.comment-body {
  padding-left: 54px;
  padding-top: var(--mantine-spacing-sm);
  font-size: var(--mantine-font-size-sm);
}

.content {
  & > p:last-child {
    margin-bottom: 0;
  }
}
